
@media (min-width: 1510px) {
  .checkboxes {
    margin-left: 3rem;
    min-width: 520px;
  }
}

@media (min-width: 1024px) {
  .checkboxes {
    margin-left: 3rem;
    min-width: 520px;
  }
}

@media (max-width: 375px) {
  .checkboxes {
    margin-left: 2rem;
  }
}

@media (max-width: 320px) {
  .checkboxes {
    margin-left: 1rem;
  }
}