.heroImg {
  margin-left: 6rem;
  padding-right: 1rem;
}

.pin {
  position: relative;
  bottom: 500px;
  left:350px
}

@media (max-width: 1550px) {

  .heroImg {
    margin-left: 1rem;
  }
}

@media (max-width: 1224px) {

  .heroImg {
    padding-top: 4rem;
  }

  .pin {
    position: relative;
    bottom: 420px;
    left:300px
    
  }
}

@media (max-width: 1024px) {
  .pin {
    position: relative;
    bottom: 350px;
    left:250px
  }
}

@media (max-width: 900px) {
  .heroImg {
    padding-top: 6rem;
  }
}

@media (max-width: 855px) {

  .heroImg {
    margin-left: 0;
  }

  .pin {
    position: relative;
    bottom: 350px;
    left:220px
  }
}

@media (max-width: 805px) {

  .pin {
    position: relative;
    bottom: 320px;
    left:200px
  }
}

@media (max-width: 768px) {

  .pin {
    position: relative;
    bottom: 380px;
    left:380px
  }
}

@media (max-width: 640px) {
  .hero {
    margin: 0 auto;
    margin-top: 1rem;
  }

  .heroImg {
    margin-top: 2rem;
  }

  .pin {
    position: relative;
    bottom: 380px;
    left:310px
  }
}

@media (max-width: 500px) {
  .heroImg {
    margin-top: 0;
  }
  .pin {
    position: relative;
    bottom: 300px;
    left:200px
  }

}

@media (max-width: 414px) {

  .heroImg {
    margin-top: -1rem;
  }

  .pin {
    bottom: 280px;
    left:180px
  }
}

@media (max-width: 375px) {

  .heroImg {
    margin-top: -3rem;
  }

  .pin {
    bottom: 230px;
    left:140px
  }
}

@media (max-width: 320px) {

  .heroImg {
    margin-top: -3rem;
  }

  .pin {
    bottom: 200px;
    left:110px
  }
}