

.locationInputControl label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: var(--text-light);
}

.locationInputControl input {
  font: inherit;
  color: var(--text-dark);
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

/* @media (min-width: 1025px) {

  .splitRow {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 10px;
  }
} */



@media (max-width: 1524px) {
 
   
 

  .splitRow {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 10px;
  }

  .searchStripForm {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    margin-bottom: -1rem;
  }

  .searchDiv {
    display: flex;
    flex-wrap: wrap;
    
  }

  .icon {
    margin-right: 0;
  }
}

@media (max-width:  1025px) {
  .splitRow {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 10px;
  }

  .locationInputControls {
    display: block;
    margin-bottom: 1rem;
    text-align: left;
  }

  .locationInputControl {
    margin-right: 0;
  }

  .locationInputControl input {
    margin-bottom: 1rem;
  }

  .locationInputAction {
    margin-top: 1rem;
  }
}

@media (max-width: 320px) {

  .searchStripForm {
    margin: 1rem auto;
    margin-bottom: -1rem;
  }

  .searchDiv {
    margin: 1rem auto;
    margin-right: 0;
  }

  .locationInputAction {
    margin-left: 0;
  }

  .locationInputControl input {
    width: 300px;
    margin-bottom: 1rem;
  }
}